doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/users/') All Messages
    a(href='/users/new')  New Message
    a(href='/top')  Top 5
    a(href='/most') Most Used Words

    block content
